body {
    margin: 0;
}

.grid {
    width: 100%;
    display: block;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    background: rgb(206, 129, 14);
}

h1 {
    color: #fff;
    margin: 0 auto;
    display: block;
    padding: 100px 0;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }
}
