:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(240, 78, 45);
    --primary-color-rgba: rgb(240, 78, 45);

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-dearch-height: calc(
        var(--header-height) - var(--navbar-height)
    );
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: #f5f5f5;
}

.container__content {
    padding-top: 26px;
    padding-bottom: 26px;
}

.grid {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10 {
    width: 83.3333%;
    padding-left: 12px;
    padding-right: 12px;
}

.grid__column-2-4 {
    text-decoration: none;
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(165, 160, 160, 0.5);
    z-index: 1;
}

.modal__body {
    width: 500px;
    /* height: 600px; */
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    /* position: relative; */
    z-index: 2;
    animation: growth ease-in 0.2s;
}

@keyframes growth {
    from {
        transform: scale(70%);
    }
    to {
        transform: scale(100%);
    }
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 1.2rem;
    background-color: var(--white-color);
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-normal:hover {
    background-color: #c3c3c3;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn-disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.filter__select {
    height: 34px;
    margin-left: 12px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.select__label {
    margin-left: 16px;
}

.filter__select-icon {
    margin-right: 16px;
}

.filter__select-list {
    position: absolute;
    background-color: var(--white-color);
    border-radius: 2px;
    top: 101%;
    list-style: none;
    font-size: 1.4rem;
    width: 100%;
    margin: 0;
    padding: 4px 0;
    display: none;
    z-index: 1;
}

.filter__select-item {
    padding: 8px 12px;
}

.filter__select-item:hover {
    color: var(--primary-color-rgba);
}

.pagination__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__item {
    margin-left: 20px;
    border-radius: 2px;
    overflow: hidden;
}

.pagination__item-link {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: rgb(112, 112, 112);
}

.pagination__item--active {
    background: var(--primary-color-rgba);
    color: var(--white-color);
}

.pagination__item--active:hover {
    background: rgb(253, 97, 6);
}
